.points_page
    &__search
        z-index: 1000
        position: relative
        justify-content: center
        display: flex
        &__content
            margin: 30px 0
            position: absolute
            top: 0
            max-width: 1200px
            width: 100%
    &__map
        z-index: -1
    &__cards
        background: red
        z-index: 1000
        position: relative
        display: flex
        width: 1200px
        &__block
            margin: 80px 0 0
            position: absolute
            top: 0
            left: 0
            width: 30%