.user_card
    padding: 32px
    border: 1px solid rgba(62, 80, 114, 0.16)
    border-radius: 20px
    &__avatar
        margin-bottom: 24px
        > img
            border-radius: 100%
    &__wrapper
        text-align: center
        > p, span
            color: rgba(0, 11, 38, 0.72)
        > p
            padding: 12px 0
    &__button
        > button
            margin-top: 24px
            background: rgba(62, 80, 114, 0.08)
            border-radius: 8px
            border: none
            padding: 16px
            width: 100%