.form
    box-sizing: border-box
    &__header
        display: flex
        justify-content: space-between
        > h1
            margin-bottom: 24px
        > button
            border: none
            background: none
    &__message
        > p 
            font-size: 14px
            color: #07C88E
            line-height: 20px
            &:first-child
                color: rgba(0, 11, 38, 0.64)
            
    &__input
        margin: 24px 0
        > input
            box-sizing: border-box
            width: 100%
            border: 1px solid rgba(0, 11, 38, 0.16)
            border-radius: 8px
            color: rgba(0, 11, 38, 0.4)
            font-size: 14px
            padding: 20px 16px
    &__button
        margin-bottom: 16px
        > button
            width: 100%
            padding: 16px 24px
            box-sizing: border-box
            background: #07C88E
            border: none
            color: white
            font-size: 16px
            text-align: center
            border-radius: 8px
    &__links
        display: flex
        justify-content: space-between
        > button
            border: none
            background: none
            font-weight: 400
            font-size: 16px
            color: #07C88E
    &__extra_button
        margin-top: 32px
        > button
            width: 100%
            padding: 16px 24px
            box-sizing: border-box
            background: rgba(62, 80, 114, 0.08)
            border: none
            font-size: 16px
            text-align: center
            border-radius: 8px

.qr_form
    box-sizing: border-box
    > h3
        padding-bottom: 30px
        font-weight: 600
        color: rgba(0, 11, 38, 0.88)
        font-size: 28px
    > p
        padding: 10px 0
        font-size: 14px
        color: rgba(0, 11, 38, 0.72)
    &__image
        box-sizing: border-box
        text-align: center
        > h3
            font-weight: 700
            color: rgba(0, 11, 38, 0.88)
            font-size: 32px
        > img
            max-width: 350px
    &__button
        margin: 10px 0
        > button
            color: white
            background: #07C88E
            font-weight: 500
            border-radius: 8px
            border: none
            padding: 16px 24px
            width: 100%
        

